.alert{
    position: absolute !important;
    right: 10vw;
}
.countCart{
    background-color: rgba(0, 0, 0, 0.452) !important;
    padding: 4px 7px;
    border-radius: 50%;
    font-size: 12px;
    color: aliceblue;
}